<% if @provider.nil? %>
    <%= link_to user_github_omniauth_authorize_url(), class: "btn btn-social btn-github btn-lg" do %><i class="fab fa-github"></i> Bind GitHub account?<% end %>
<% else %>
    <h1>Public Repositories</h1>
    <ul>
        <% @repositories.each do |repo| %>
            <li>
            <p><b><%= repo[:name] %></b>: <i><% if repo[:description].blank? %> No description <% else %> <%= repo[:description] %> <% end %></i></p>
            </li>
        <% end %>
    </ul>
<% end %>